* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.nav-link {
  transition: .3s;
}

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 16px;
  min-height: 100vh;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}

.section-item a:hover {
  text-decoration: underline;
  }

.avatar {
  width: 250px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3);
}

.iam {
  display: flex;
  margin-bottom: 20px;
}

.iam-text {
  margin-left: 40px;
}

.container {
  max-width: 750px;
  margin: auto;
}

.one {
  background-color: #fff9dc;
}

.two {
  background-color: #e5ffe7;
}

.three {
  background-color: #FAD7B6;
}

.four {
  background-color: #FAEEB6;
}

.five {
  background-color: #ffe5e5;
}

.six {
  background-color: #E3D2B1;
}

.seven {
  background-color: #F0C0AF;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.list {
  padding: 0 20px;
}

.list li {
  margin-bottom: 10px;
}

.footer-info {
  display: flex;
  align-items: center;
}

.logo {
  width: 36px;
  height: 36px;
}

ul {
  display: block;
  list-style-type: disc;
  margin: 1em 0 1em 0;
  padding-left: 40px;
}